<div class="messages_text h-75 overflow-scroll d-flex flex-column" id="">
    <div class="message_body_wrap rounded-4 text-bg-success bg-success align-self-end mb-1">
      <div class="message_content">
        <%= message.body %>
      </div>
    </div>
</div>
