<% @messages.each do |message| %>
  <% if current_user.id == message.user_id %>
    <div class="message_body_wrap rounded-4 text-bg-success bg-success align-self-end mb-1">
      <div class="message_content">
        <%= message.body %>
      </div>
    </div>
  <% else %>
    <div class="message_body_wrap rounded-4 text-bg-success bg-secondary align-self-start mb-1">
      <div class="message_content">
        <%= message.body %>
      </div>
    </div>
  <% end %>
<% end %>

