<%= form_for :message, class:"row g-3 col-12" do |form| %>
  <div class="col-auto mb-3 col-10">
    <%= form.text_field :body, autofocus: true, required: true, class: "form-control form-control-lg message_area" %>
  </div>
  
  <div class="col-auto col-1">
    <%= form.submit "Send", class: "btn btn-primary mb-3" %>
  </div>
<% end %>
