<%= form_for :message, class:"row g-3 col-12 align-items-center msg_form" do |form| %>
  <%= form.hidden_field :replied_to_id, value: params[:replied_to_id] if params[:replied_to_id].present? %>

  <div class="col-auto mb-3 col-11">
    <%= form.text_field :body, autofocus: true, required: true, class: "form-control form-control-lg message_area" %>
  </div>

  <div class="col-auto col-1">
    <%= form.submit "Send", class: "btn btn-primary mb-3" %>
  </div>
<% end %>
