<%= form_for :message, class:"row g-3" do |form| %>
  <div class="col-auto mb-3">
    <%= form.text_field :body, required: true, class: "form-control form-control-lg" %>
  </div>
  
  <div class="col-auto">
    <%= form.submit "Send", class: "btn btn-primary mb-3" %>
  </div>
<% end %>
