<div class="row vh-100">
  <div class="col-12 col-lg-3 d-none d-lg-flex flex-column p-2 h-100 text-white bg-dark">
    <div class="border-bottom pb-2">Header</div>
    <ul class="flex-grow-1 flex-shrink-1 overflow-y-auto">
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
      <li class="p-1">
        <a href="#">dialogue</a>
      </li>
    </ul>
    <div class="border-top">
      Footer
    </div>
  </div>
  <div class="d-flex col-12 col-lg-9 flex-column h-100 p-2 bg-secondary text-white">
    <div class="pb-2 border-bottom border-white">
      User name
    </div>
    <div class="flex-grow-1 flex-shrink-1 overflow-y-auto">
      <p>Feel free to send a message.</p>
      <p>Hello! Welcome to the chat.</p>
      <p>Feel free to send a message.</p>
      <p>Hello! Welcome to the chat.</p>
      <p>Feel free to send a message.</p>
      <p>Hello! Welcome to the chat.</p>
      <p>Feel free to send a message.</p>
      <p>Hello! Welcome to the chat.</p>
      <p>Feel free to send a message.</p>
      <p>Hello! Welcome to the chat.</p>
      <p>Feel free to send a message.</p>
      <p>Hello! Welcome to the chat.</p>
      <p>Feel free to send a message.</p>
      <p>Hello! Welcome to the chat.</p>
      <p>Feel free to send a message.</p>
      <p>Hello! Welcome to the chat.</p>
      <p>Feel free to send a message.</p>
      <p>Hello! Welcome to the chat.</p>
      <p>Feel free to send a message.</p>
      <p>Hello! Welcome to the chat.</p>
      <p>Feel free to send a message.</p>
      <p>Hello! Welcome to the chat.</p>
      <p>Feel free to send a message.</p>
      <p>Hello! Welcome to the chat.</p>
    </div>

    <div class="p-3 d-flex align-items-center justify-content-around">
      <input type="text" class="form-control w-75">
      <span class="">img</span>
      <button class="btn btn-light">Send</button>
    </div>
  </div>
</div>