<ul class="nav nav-pills flex-column mb-auto">
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
      <li class="nav-item user_list_item">
        <span class="nav-link link-secondary"> <%= user.name%> </span> 
        <%= form_with url: dialogues_path do |form| %>
          <%= form.hidden_field(:recipient_id, :value => user.id) %>
          <%= form.submit "Start dialogue" %>
        <% end %>
        <hr class="p-0 m-0">
      </li>
    <% end %>
  <% end %>
</ul>