<div class="sidebar d-none d-md-flex flex-column overflow-scroll flex-shrink-0 bg-body-tertiary">
  <div class="sticky-top mb-2 sidebar_menu_header">
    <a href="<%= root_path %>" class="d-flex px-3 align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none nav-link text-dark-emphasis">
      <span class="fs-4">MyChat</span>
    </a>
  </div>

  <small class="px-3 mb-1 mt-0"> All chats </small>
  <%= render "dialogues/sidebar_dialogues" %>

  <%= render "dialogues/dialogue_icon" %>
</div>