<div class="col-12 d-flex justify-content-between">
  <%= render "dialogues/sidebar" %>

  <div class="col-9">
    <div class="chat_with">
      <h3> Chat with: </h3>
      <ul class="nav nav-pills flex-column mb-auto">
        <% @users.each do |user| %>
          <% if user.id != current_user.id %>
            <li class="nav-item user_list_item">
              <%= link_to user.name, new_dialogue_path(recipient_id: user.id) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

</div>
