<h2>All dialogue:</h2>
<% @dialogues.each do |dialogue| %>
  <% if dialogue.sender_id == current_user.id || dialogue.recipient_id == current_user.id %>

    <% if dialogue.sender_id == current_user.id %>
      <% recipient = User.find(dialogue.recipient_id) %>
    <% else %>
      <% recipient = User.find(dialogue.sender_id) %>
    <% end %>

    <h4><%= link_to recipient.name, dialogue_messages_path(dialogue)%></h4>
  <% end %>
<% end %>

<h2> Select users to chat </h2>
<% @users.each do |user| %>
  <% if user.id != current_user.id %>  
    <%= link_to user.name, new_dialogue_path(recipient_id: user.id)%></br>
  <%end%>
<% end %>
