/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .body_height{
  height: 930px;
  margin-top: 10px;
  margin-bottom: 10px;
 }
/* user show */
 .pencil_icon{
  margin-left: 10px;
 }
 .profile_icon{
  text-decoration: none;
  color: black;
 }

 /* messages index */
 .messages_recipient{
  height: 36px;
  background: #ced4da;
  color:#6c757d
 }

.message_body_wrap{
  display: inline-block;
  max-width: 45%;
}
.message_content{
  padding: 5px 15px;
}
/* message new */

/* sidebar */
.sidebar{
  width: 280px;
  height: 909px;
}
.sidebar_recipient_max-height{
  max-height: 55px;
  overflow: hidden;
}
.sidebar_icons_menu{
  background: #ced4da;
}

.sidebar_icon{
  color: #6c757d;
  width: 30px;
  height: 30px;
}

/* dialogues */
.users_list_wrap{
  height: 92%;
}