/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .body_height{
  height: 930px;
  margin-top: 10px;
  margin-bottom: 10px;
 }
/* user show */
 .pencil_icon{
  margin-left: 10px;
 }
 .profile_icon{
  text-decoration: none;
  color: black;
 }

 /* messages index */
 .list_active_item{
  background:#198754;
  color: #fff;
 }
 .list_active_item a{
  color: #e2e4e3;
 }
 .list_active_item a:hover{
  color: #e2e4e3;
 }

 .messages_recipient{
  height: 35px;
  background: #ced4da;
  color:#6c757d
 }

.message_body_wrap{
  display: flex;
}
.message_body{
  display: flex;
}
.reply{
  border-radius: 3px;
  border-left: 3px solid #fff;
  background: #115e3a;
}
.reply_new{
  max-height: 50px;
  margin-bottom: 0 !important;
  width: 800px;
  opacity: 95%;
  border-radius: 3px;
  border-left: 3px solid #bef264;
  background: #15803d;
}
.reply-link{
  font-size: 13px;
}
.message_content{
  padding: 5px 15px;
}
.highlight {
  box-shadow: 0 0 10px #0dcaf0;
}
.msg_btn_link{
  text-decoration: none;
}
.msg_btn_edit{
  color:#ffc107;
  margin-left: 10px;
  opacity: 80%;
  display: none;
}
.msg_btn_delete{
  color: #df1919;
  margin-left: 10px;
  margin-right: 5px;
  opacity: 80%;
  display: none;
}
.message_body_wrap:hover .msg_btn_action{
  display: inline-block !important;
}
.msg_time{
  font-size: 8px;
  margin-right: 5px;
}
/* message new */
.msg_form{
  margin-top: 0 !important;
}

/* sidebar */
.sidebar_menu_header{
  background: #ced4da;
  /* height: 36px; */
}
.sidebar{
  width: 75%;
}
.sidebar_recipient_max-height{
  max-height: 55px;
  overflow: hidden;
}
.sidebar_icon{
  color: #6c757d;
  width: 30px;
  height: 30px;
}

/* dialogues */
.users_list_wrap{
  height: 92%;
}
#back-arrow{
  cursor: pointer;
}
#sidebar-cross{
  cursor: pointer;
}
.message_window{
  height: 805px;
}

@media (min-width: 576px) {
  .message_body{
    min-width: 75%;
  }
  .sidebar{
    width: 75%;
  }
}
@media (min-width: 768px) {
  .message_body{
    min-width: 55%;
  }
  .message_body_wrap {
    max-width: 60%;
  }
}
@media (min-width: 992px) {
  .sidebar{
    width: 280px;
  }
}