/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
/* Chat content takes available space and scrolls if needed */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* Flex container to structure header, content, and input */
// .container {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
// }
/* Header styles */
.header {
  padding: 10px;
  text-align: center;
}
/* Chat content takes available space and scrolls if needed */
.chat-content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #fff;
}

// ----------------------------------

 .body_height{
  // height: 930px;
  margin-top: 10px;
  margin-bottom: 10px;
 }
/* user show */
 .pencil_icon{
  margin-left: 10px;
 }
 .profile_icon{
  text-decoration: none;
  color: black;
 }
 /* .edit-user-buttons{ 
   width: 373px;
  padding: 6px 12px; 
} */
 /* messages index */
.message_content {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-all;
}

 .messages_recipient{
  height: 35px;
  background: #ced4da;
  color:#6c757d;
  box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.2);
 }
 .last-message{
  margin-bottom: 0;
  max-height: 21px;
  overflow: hidden;
 }

.message_body_wrap{
  display: flex;
}
.reply{
  border-radius: 3px;
  border-left: 3px solid #fff;
  background: #115e3a;
}
.reply_new{
  max-height: 50px;
  overflow-y: hidden;
  margin-bottom: 0 !important;
  opacity: 95%;
  border-radius: 3px;
  border-left: 3px solid #bef264;
  background: #15803d;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-all;
}
.reply-link{
  font-size: 13px;
}
.message_content{
  padding: 5px 15px;
}
.message_link{
  color:#1cbcfe;
  text-decoration: none;
}
.message_link:hover{
  text-decoration: underline;
}
.highlight {
  box-shadow: 0 0 10px #0dcaf0;
}
.msg_btn_link{
  text-decoration: none;
}
.msg_btn_edit{
  color:#ffc107;
  margin-left: 10px;
  opacity: 80%;
  display: none;
}
.msg_btn_delete{
  color: #df1919;
  margin-left: 10px;
  margin-right: 5px;
  opacity: 80%;
  display: none;
}
.message_body_wrap:hover .msg_btn_action{
  display: inline-block !important;
}
.msg_time{
  font-size: 8px;
  margin-right: 5px;
}

.link-preview {
  border-radius: 3px;
  border-left: 3px solid #fff;
  background: #115e3a;
  overflow: hidden;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.link-preview-image {
  max-width: 530px;
  border-radius: 3px;
  /* max-height: 400px; */
}

.link-preview-details h4 {
  margin: 0 0 5px;
  font-size: 16px;
}

.link-preview-details p {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.scrol-down-arrow {
  display: none;
  position: fixed;
  bottom: 105px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: #15803d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 24px;
  /* transition: opacity 0.3s ease, visibility 0.3s ease; */
}

/* message new */
.msg_form{
  margin-top: 0 !important;
}
.svg-upload-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #198754;
}
.svg-upload-label:hover {
  color: #157347;
}

/* sidebar */
.sidebar{
  height: 98%;

  @media (max-width: 1024px) { // Планшеты
    height: 92%;
  }

  @media (max-width: 768px) { // Маленькие планшеты
    height: 90%;
  }

  @media (max-width: 480px) { // Мобильные устройства
    height: 85%;
  }
}

.sidebar_menu_header{
  background: #ced4da;
  /* height: 36px; */
}
.sidebar_icon{
  color: #6c757d;
  width: 30px;
  height: 30px;
}

/* dialogues */
.users_list_wrap{
  height: 95%;
}
.list_active_item{
  background:#198754;
 }
 .list_active_item p{
  color: #fff !important;
 }

.user_list_link{
  color: #6c757d;
  text-decoration: none;
  /* width: 233px; */
}
.user_list_link:hover{
  color: #495057;
 }
#back-arrow{
  cursor: pointer;
}
#sidebar-cross{
  cursor: pointer;
}

.msg-display{
  height: 100%;
}

.message_window {
  flex: 1;
//   height: 87%;
//   transition: height 0.2s ease-in-out;

//   @media (max-width: 1024px) {
//     height: 84%;
//   }

//   @media (max-width: 768px) {
//     height: 79%;
//   }

//   @media (max-width: 480px) {
//     height: 74%;
//   }
// }

// .message-window-height{
//   height: calc(87% - 50px);
}

@media (min-width: 300px) {
  .message_body_wrap {
    max-width: 85%;
  }
}
@media (min-width: 768px) {
  .message_body_wrap {
    max-width: 80%;
  }
}
@media (min-width: 992px) {
  .message_body_wrap {
    max-width: 60%;
  }
}